ecosystem:
  main_project: optaplanner
  projects:
  - name: optaplanner
    regexs:
    - opta.*
git:
  branches:
  - name: main
    main_branch: true
    seed:
      branch: main
  - name: 8.33.x
    seed:
      branch: seed-optaplanner-8.33.x
  - name: 8.34.x
    seed:
      branch: seed-optaplanner-8.34.x
  - name: 8.35.x
    seed:
      branch: seed-optaplanner-8.35.x
  main_branch:
    default: main
seed:
  config_file:
    git:
      repository: optaplanner
      author:
        name: kiegroup
        credentials_id: kie-ci5
      branch: main
    path: .ci/jenkins/config/branch.yaml
jenkins:
  email_creds_id: OPTAPLANNER_CI_EMAIL
