
name: Build Chain

on:
  pull_request:
    types: [labeled]
    branches:
      - main
      - 8.*
    paths-ignore:
      - 'LICENSE*'
      - '.gitignore'
      - '**.md'
      - '**.adoc'
      - '*.txt'
      - '.ci/**'

jobs:
  build-chain:
    if: contains(github.event.pull_request.labels.*.name, 'run_fdb')
    concurrency:
      group: fdb-${{ github.head_ref }}
      cancel-in-progress: true
    strategy:
      matrix:
        os: [ubuntu-latest]
        java-version: [11]
        maven-version: ['3.8.1']
      fail-fast: false
    runs-on: ${{ matrix.os }}
    name: Full downstream build
    steps:
      - name: Free disk space
        if: ${{ matrix.os == 'ubuntu-latest' }}
        shell: bash
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          docker rmi $(docker image ls -aq)
          df -h    
      - name: Setup Maven And Java Version
        uses: s4u/setup-maven-action@v1.2.1
        with:
          java-version: ${{ matrix.java-version }}
          maven-version: ${{ matrix.maven-version }}
      # See https://docs.github.com/en/actions/guides/building-and-testing-java-with-maven#caching-dependencies
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-${{ matrix.java-version }}-maven${{ matrix.maven-version }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-${{ matrix.java-version }}-maven${{ matrix.maven-version }}-m2
      - name: Build Chain ${{ matrix.java-version }}. Maven ${{ matrix.maven-version }}
        id: build-chain
        uses: kiegroup/github-action-build-chain@issues/117
        with:
          definition-file: https://raw.githubusercontent.com/${GROUP}/kogito-pipelines/${BRANCH:main}/.ci/pull-request-config.yaml
          starting-project: kiegroup/optaplanner-quickstarts
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          OPTAPLANNER_BUILD_MVN_OPTS_UPSTREAM: "-Dfull"
      - name: Check Surefire Report
        if: ${{ always() }}
        uses: ScaCap/action-surefire-report@v1.0.10
        with:
          fail_on_test_failures: true
          fail_if_no_tests: false
          skip_publishing: true
