# Tests PRs on multiple operating systems and Java versions

name: OptaPlanner

on:
  push:
    branches:
      - 7.x
  pull_request:
    branches:
      - 7.x

env:
  # To prevent build failures due to "Connection reset" during artifact download.
  MVN_CONNECTION_PROPS: -Dmaven.wagon.httpconnectionManager.ttlSeconds=60 -Dmaven.wagon.http.retryHandler.count=5

defaults:
  run:
    shell: bash

jobs:
  os-java:
    strategy:
      matrix:
      os: [ubuntu-latest, windows-latest]
      java-version: [8, 11]
      maven-version: ['3.8.1']
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }} - Java ${{ matrix.java-version }} - Maven
    steps:
      - uses: actions/checkout@v2
      - name: Java and Maven Setup
        uses: kiegroup/kie-ci/.ci/actions/maven@main
        with:
          java-version: ${{ matrix.java-version }}
          maven-version: ${{ matrix.maven-version }}
          cache-key-prefix: ${{ runner.os }}-${{ matrix.java-version }}-maven${{ matrix.maven-version }}
      - name: Build with Maven version ${{ matrix.maven-version }}
        run: mvn -B clean install ${{ env.MVN_CONNECTION_PROPS }}
