# Tests PRs on multiple operating systems and Java versions

name: OptaPlanner CI

on:
  push:
    branches:
      - 7.x
  pull_request:
    branches:
      - 7.x

env:
  # To prevent build failures due to "Connection reset" during artifact download.
  MVN_CONNECTION_PROPS: -Dmaven.wagon.httpconnectionManager.ttlSeconds=60 -Dmaven.wagon.http.retryHandler.count=5

defaults:
  run:
    shell: bash

jobs:
  os-java:
    name: OS x Java
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        java-version: [8, 11]
        maven-version: ['3.8.1']
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup Maven And Java Version
        uses: s4u/setup-maven-action@v1.2.1
        with:
          java-version: ${{ matrix.java-version }}
          maven-version: ${{ matrix.maven-version }}
      - name: Build with Maven version ${{ matrix.maven-version }}
        run: mvn -B clean install ${{ env.MVN_CONNECTION_PROPS }}
